// Contemporary

@font-face {
  font-family: "Scala";
  src: url("scala--.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scala";
  src: url("ScalaSansOffc-Ita.ttf");
  font-style: italic;
  font-weight: normal;
}

// Geometric

@font-face {
  font-family: "Din Offc Pro";
  src: url("din-offc-pro--.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Din Offc Pro";
  src: url("din-offc-pro-b-.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Din Offc Pro";
  src: url("din-offc-pro-bi-.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Din Offc Pro";
  src: url("din-offc-pro-i-.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Din Offc Pro";
  src: url("din-offc-pro-medium--sc.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Din Offc Pro";
  src: url("din-offc-pro-medium-i-sc.ttf");
  font-style: italic;
  font-weight: 500;
}

// Modern
@font-face {
  font-family: "Harriet Text";
  src: url("harriet-text--sc.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Harriet Text";
  src: url("harriet-text--.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Harriet Text";
  src: url("harriet-text-b-.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Harriet Text";
  src: url("harriet-text-b-sc.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Harriet Text";
  src: url("harriet-text-bi-.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Harriet Text";
  src: url("harriet-text-bi-sc.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Harriet Text";
  src: url("harriet-text-i-.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Harriet Text";
  src: url("harriet-text-i-sc.ttf");
  font-style: italic;
  font-weight: normal;
}


// Postmodern

@font-face {
  font-family: "Scala Sans";
  src: url("scala-sans--.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scala Sans";
  src: url("SourceSansPro-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Scala Sans";
  src: url("SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scala Sans";
  src: url("SourceSansPro-Semibold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Scala Sans";
  src: url("SourceSansPro-SemiboldItalic.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Scala Sans";
  src: url("SourceSansPro-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Scala Sans";
  src: url("SourceSansPro-BoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

// Slab

@font-face {
  font-family: "Tisa Offc Pro";
  src: url("tisa-sc-offc-pro--.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Tisa Offc Pro";
  src: url("tisa-offc-pro--.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Tisa Offc Pro";
  src: url("tisa-offc-pro-b-.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Tisa Offc Pro";
  src: url("tisa-offc-pro-bi-.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Tisa Offc Pro";
  src: url("tisa-offc-pro-i-.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Tisa Offc Pro";
  src: url("tisa-sc-offc-pro-b-.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Tisa Offc Pro";
  src: url("tisa-sc-offc-pro-bi-.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Tisa Offc Pro";
  src: url("tisa-sc-offc-pro-i-.ttf");
  font-style: italic;
  font-weight: normal;
}

// Vintage

@font-face {
  font-family: "Vollkorn";
  src: url("vollkorn--.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Vollkorn";
  src: url("vollkorn-b-.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Vollkorn";
  src: url("vollkorn-bi-.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Vollkorn";
  src: url("vollkorn-i-.ttf");
  font-style: italic;
  font-weight: normal;
}


@font-face {
  font-family: "Livory";
  src: url("livory--sc.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Livory";
  src: url("livory-bi-.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Livory";
  src: url("livory-i-.ttf");
  font-style: italic;
  font-weight: normal;
}






















