ion-content {
  ion-grid {
    ion-row {
      ion-col {

        ion-card {
          height: 270px;
          box-shadow: none;
          border: 1px solid #cccccc;
          border-radius: 12px;
          margin: 0;

          ion-img::part(image) {
            height: 200px;
            object-fit: cover;
            object-position: center;
          }

          ion-card-content {
            padding: 4px 4px;

            h4 {
              font-size: 16px;
              font-weight: normal;
              color: #333;
            }
          }
        }

      }
    }
  }
}
