ion-header {
  color: #0d0d0d;
  ion-toolbar {
    color: #0d0d0d;
    ion-title {
      font-weight: bold;
    }
    ion-button {
      color: #0d0d0d;
    }
  }
}

ion-content {
  ion-grid {
    ion-row {
      ion-col.primary-book-title {
        h3 {
          font-size: 18px;
          font-weight: bold;
          margin: 8px 0;
        }
        h5 {
          margin: 0;
          color: #1E7A85;
          span {
            color: grey;
          }
        }
      }
      ion-col.section-header {
        margin-top: 10px;
        padding-bottom: 16px;
        border-bottom: 1px solid #cccccc;
        h3 {
          margin: 10px 0 0;
          font-weight: bold;
        }
      }
    }
  }

  ion-skeleton-text.book {
    border-radius: 6px;
    height: 165px;
  }
}
