ion-content {
  ion-item {
    ion-label {
      font-family: "Scala", sans-serif;
      font-weight: bold;
    }

    ion-label.section-label {
      font-family: "Scala", sans-serif;
      font-weight: normal;
    }

    ion-icon {
      font-size: 18px;
      color: var(--ion-color-dark);
    }
  }
}
