<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ book?.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-img [src]="book?.thumbnail"></ion-img>
        <h6 class="book-title" >{{ book?.title }}</h6>
        <h6 class="book-author" *ngIf="book.author" >
          <span>by</span>
          {{ book?.author.name }}
        </h6>
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-text-center">
                <h5 class="option">Genre</h5>
                <p class="value">{{ book?.genre.title }}</p>
              </ion-col>

              <ion-col class="ion-text-center">
                <h5 class="option">Author</h5>
                <p class="value">{{ book?.downloadable ? 'Yes' : 'No' }}</p>
              </ion-col>

              <ion-col class="ion-text-center">
                <h5 class="option">Audible</h5>
                <p class="value">{{ book?.audible ? 'Yes' : 'No' }}</p>
              </ion-col>


            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>-->
    <ion-row class="ion-padding">
      <ion-col>
        <!--<app-description [description]="book?.description"></app-description>-->
        <div class="description" [innerHTML]="html"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button expand="block" mode="ios" (click)="readBook()">
      Read Book
    </ion-button>
  </ion-toolbar>
</ion-footer>
