ion-content {
  ion-grid{
    height: 100%;
    ion-row {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      img.thumbnail {
        width: 200px;
        height: 200px;
        border-radius: 25px;
        display: block;
        margin: 0 auto 20px;
      }

      h4.chapter {
        margin: 38px 0;
        text-align: center;
      }

      ion-button {
        --ripple-color: none;
        ion-icon {
          font-size: 42px;
        }
      }

      ion-item {
        --background: none;
      }
    }
  }

}

